body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    transition: background-color 0.3s ease;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    padding: 14px 20px;
}
.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color:black;
    background-color: #444;
    border-radius: 5px;
}
.content {
    padding-top: 60px;
}
section {
    text-align: center;
    height: 100vh;
    padding: 20px;
}
#home{
    background-color: lightgoldenrodyellow;
}
#aboutme{
    background-color: lightgray;
}
#skills{
    background-color: lightcyan;
}
#contact{
    background-color: lightpink;
}
.scrolled{
    background-color: #555;
}
section h1 {
    margin-top: 50px;
}
.ser-h1{
    font-family:"Ubuntu Sans", sans-serif;
    color:brown;
    letter-spacing: 2px;
    font-size: 50px;
    font-style: italic;
    text-shadow: 1px 1px 2px white, 0 0 25px lightslategray, 0 0 5px gray;
}
.services-sub-cont{
    display: flex;
    flex-direction: row;
}
.services-card{
    border:red solid 2px; 
    margin: 20px;
    padding: 20px;
    width: 400px;
}
.sc-h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-style: italic;
    color:black;
    text-shadow: 1px 1px 2px white, 0 0 25px orange, 0 0 5px darkorange;
}
.sc-p{
    font-family: "Encode Sans", sans-serif;
    font-size: 30px;
}
.contact{
    text-align: center;
}
.contact-info{
    font-family: "Montserrat", sans-serif;
    font-size:25px;
}
.social-icon-img{
    height:50px;
    padding: 20px;
}
.sc-head{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-style: italic;
    color:purple;
}
.sc-para{
    font-family: "Encode Sans", sans-serif;
    font-size: 20px;
    color:red;
}
.h{
    padding-top: 50px;
}
.p{
    padding-top: 25px;
    margin: 20px;
    padding: 20px;
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 85vh;
}
.home-left{
    width:50vw;
    text-align: center;
    padding-left: 200px;
}
.home-right{
    width:50vw;
    padding-left: 10px;
    padding-top: 100px;
}
.home-h1{
    font-family: "Montserrat", sans-serif;
    font-size:25px;
}
.home-p{
    font-family: "Encode Sans", sans-serif;
    font-size: 20px;
}
